<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.94.2" targetFramework="net47" />
  <package id="DocumentFormat.OpenXml" version="2.9.1" targetFramework="net47" />
  <package id="Emgu.CV" version="4.2.0.3662" targetFramework="net47" />
  <package id="Emgu.CV.runtime.windows" version="4.2.0.3662" targetFramework="net47" />
  <package id="ExcelNumberFormat" version="1.0.7" targetFramework="net47" />
  <package id="FastMember" version="1.5.0" targetFramework="net47" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net47" />
  <package id="System.IO.Packaging" version="4.6.0" targetFramework="net47" />
  <package id="ZedGraph" version="5.1.7" targetFramework="net47" />
</packages>